[submodule "third_party/closure-library"]
	path = third_party/closure-library
	url = https://github.com/google/closure-library/
[submodule "third_party/rangy"]
	path = third_party/rangy
	url = https://github.com/samuelgoto/rangy
